{{ define "main" }}
<main class="list">
    <div class="site-description">
        {{- if isset .Site.Params "subtitle" -}}
        <p>{{ .Site.Params.Subtitle | .Page.RenderString }}</p>
        {{- end -}}
    </div>
    
    {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
    {{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
    
    {{ range $paginator.Pages }}
    <article class="post-container">
        <header>
            <h1 class="title"><a href="{{ .RelPermalink }}">{{.Title}}</a></h1>
            <time>{{ dateFormat ":date_medium" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</time>
        </header>
        
        <div class="content">
            {{ .Content }}
        </div>
        
        {{ if .Params.tags }}
        <div class="post-tags">
            {{ range .Params.tags }}
            <a class="tag" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
            {{ end }}
        </div>
        {{ end }}
    </article>
    {{ end }}
    
    {{ template "partials/paginator.html" . }}
</main>
{{ end }}